*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a,a:hover,a:active,a:visited{
  color:inherit;
  text-decoration:none;
}
header{
  width:100%;
  background-color:#D11E1E;
}
header div{
  width: 85%;
  color: white;
  margin:auto;
}
header div h1{
  padding:10px 0;
}
section{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  flex-direction: column;
}
section div{
  width:50vw;
  display: grid;
  margin-top:60px;
}
section div input{
  height:25px;
  border-radius:0;
  border:.2px solid grey;
  border-radius:2px;
  margin:5px 0;
  padding:0 5px;
  outline: none;
}
input[type=color]{
  width: 100%;
}
section div h2{
  margin-bottom:10px;
}
input[type=button]{
  background-color: #58585F;
  color: white;
  border:none;
}
input[type=button]:hover{
  background-color: #05050B;
}
#qrcode{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
#qrcode i{
  font-size:50px;
  animation: spin 2s linear infinite;
  display:none;
}
#qr{
  margin: auto;
  display:flex;
  justify-content: center;
  overflow:scroll;
}
@keyframes spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
#save-btn{
  background-color: #58585F;
  color: white;
  border:none;
  width:50%;
  display:none;
}